.App {
  text-align: center;
}
body {
  background: url(trade.png) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}
.navbar-container {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card {
  max-height: 300px;
  overflow: auto;
  border-style: solid;
  border-color: green;
  border-width: medium;
}

.nav-ul {
  display: flex;
  list-style: none;
  margin: 25px;
}
.nav-li {
  font-size: 12px;
}

.nav-li a h2 {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-li a h2:hover {
  background-color: black;
}
.navbar-btn--active {
  border-bottom: 3px solid #29b6f6;
  transition: border-bottom 0.5s ease-in-out;
}
.navbar-btn {
  width: 300px;
  display: block;
  margin: auto;
  cursor: pointer;
  font-family: "Architects Daughter", cursive;
  transition: border-bottom 0.5s ease-in-out;
}

.home h2 {
  color: #fff;
  font-family: Signika, sans-serif;
  font-size: 6em;
  margin-left: 10%;
  text-align: left;
}
h2 {
  font-family: Signika, sans-serif;
  color: white;
}
.topH2 {
  margin-bottom: 0;
  font-size: 2em;
}
.home {
  margin-top: 15%;
}
.btnTrade {
  left: 10%;
  padding-top: 2%;
  position: -webkit-sticky;
  position: sticky;
  top: 50%;
  width: 120px;
}
.quote {
  color: #fff;
  font-family: Signika, sans-serif;
  font-size: 1.5rem;
  margin-left: 10%;
  text-align: left;
  width: 40%;
}
.btnTrade button {
  background-color: #0b5d3a;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  height: 75px;
  padding: 0.35rem;
  width: 140px;
  font-size: 40px;
}
.btn-primary {
  background-color: #0b5d3a;
}

.login {
  margin-right: 34px;
}
.logout {
  margin-right: 34px;
  display: flex;
}
.name {
  padding-top: 5px;
  padding-right: 15px;
}
.logoutB {
  display: inline-block;
}
fieldset {
  font-size: 1.5rem;
  font-weight: bolder;
}

fieldset input {
  border-radius: 10px;
  margin: 10px;
}
form {
  width: 70%;
  margin: auto;
}
body {
  background-color: #e3e9d9;
}
label {
  font-family: "Architects Daughter", cursive;
}
.btn-danger {
  margin-left: 15px;
}
.aboutText {
  background-color: #175c48;
  padding: 5%;
  border-radius: 25px;
  font-size: 1.75rem;
  color: white;
}

.about {
  padding: 6%;
  opacity: 0.9;
}
.list-of-trades {
  padding: 25px 0px 25px 0px;
  margin: 45px;
}
#favorite{
  margin: 30px;
}
.favorite-h2{
  padding: 15px 0px 15px 0px;
  margin: 45px;
}
